<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="w3-bar w3-black">
        <a href="{{url_for('home')}}" class="w3-bar-item w3-button">Home</a>
    </div>
    <div class="w3-container">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>